/*BUSQUEDAAAAAAA*/

#barraDiv {
  max-width: 900px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 10px; /* Espaciado interno */ 
  border-radius: 8px; /* Bordes redondeados */
  display: flex; /* Para alinear logo e input */
  align-items: center; /* Centrar verticalmente */
  gap: 10px; /* Espacio entre logo e input */
}

#logoBusqueda {
  width: 40px; /* Tamaño del logo */
  height: 40px;
  object-fit: contain;
}

#buscar {
  flex: 1; /* Que ocupe el espacio restante */
  padding: 8px;
  border: 2px solid #94AB6F;
  border-radius: 5px;
}

#resultado {
  list-style-type: none;
  padding: 0;
}

#resultado li {
  margin-bottom: 10px;
}

#resultado img {
  max-width: 100px;
  height: auto;
  display: block;
  margin-bottom: 5px;
  border-radius: 8px;
}

#contenedorPrincipal {
  display: flex;
  justify-content: space-between;
}

#contenedorIzq {
  display: flex;
  flex-direction: column;
}

#contenedorDerecho {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#menu {
  width: 250px;
  margin-bottom: 10px;
  margin: 20px;
  margin-right: 20px; 
  background-color: #94AB6F;
  border-radius: 17px;
  padding: 20px;
}

#pTitulo1 {
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

#liOpciones {
  list-style: none;
  padding: 0;
}

#liOpciones li {
  margin-bottom: 10px;
  color: white;
  font-weight: normal;
  padding-left: 20px; 
  position: relative;
}

#liOpciones li:before {
  content: '•'; 
  margin-right: 10px;
}

#liOpciones li a {
  color: white;
  text-decoration: none;
}

#anuncio {
  background-color: #94AB6F;
  padding: 10px;
  display: inline-block;
  border-radius: 17px;
  margin-left: 20px;
  width: 270px;
  align-content: center;
  margin-right: 20px;
}

#anuncio img {
  border: 2px solid #94AB6F;
  border-radius: 17px;
  width: 250px;
  display: flex;
}

#catalogo {
  background-color: #B8CF93;
  padding: 30px;
  border-radius: 17px;
  max-width: 790px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#catalogo h2 {
  color: #FBF6F1;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.receta-link, .postre-link {
  text-decoration: none;
  color: #333;
}

.receta-img, .postre-img {
  width: 140px;
  border-radius: 17px;
  margin: 10px;
  margin-left: 35px;
  margin-bottom: 22px;
  margin-right: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
