body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#barraDiv {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#buscar {
  width: calc(100% - 20px);
  padding: 8px;
  border: 2px solid #94AB6F;
  border-radius: 5px;
}

#resultado {
  list-style-type: none;
  padding: 0;
}

#resultado li {
  margin-bottom: 10px;
}

#resultado img {
  max-width: 100px;
  height: auto;
  display: block;
  margin-bottom: 5px;
  border-radius: 8px;
}

#contenedorPrincipal {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-direction: row;
}

#contenedorIzq {
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* Contenedor derecho */
#contenedorDerecho {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 600px;
}

.sugerencia {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.carrusel {
  width: 100%;
  height: 450px;
  position: relative;
  background-color: #B8CF93;
  margin-top: 0px;
}

#anuncio {
  width: 30%;
  margin: 0 20px;
}

/* Estilos del Menú */
#menu {
  width: 250px;
  margin: 20px;
  background-color: #94AB6F;
  border-radius: 17px;
  padding: 20px;
}

#pTitulo1 {
  color: white;
  font-weight: bold;
}

#liOpciones {
  list-style: none;
  padding: 0;
}

#liOpciones li {
  margin-bottom: 10px;
  color: white;
  font-weight: normal;
  padding-left: 20px;
  position: relative;
}

#liOpciones li:before {
  content: '•';
  margin-right: 10px;
}

#liOpciones li a {
  color: white;
  text-decoration: none;
}

/* Estilo del Anuncio */
#anuncio {
  background-color: #94AB6F;
  padding: 10px;
  border-radius: 17px;
  margin-left: 20px;
  width: 270px;
  align-content: center;
}

#anuncio img {
  border: 2px solid #94AB6F;
  border-radius: 17px;
  width: 250px;
  display: block;
}

/* Estilos del Carrusel */
.carrusel {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carrusel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrusel-Elem {
  min-width: 100%;
  flex: 0 0 auto;
}

.carrusel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
}

.carrusel-control.prev {
  left: 10px;
}

.carrusel-control.next {
  right: 10px;
}

#botonesControl {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#reloj {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #333;
}

.receta-img {
  width: 140px;
  border-radius: 17px;
  margin: 10px;
  margin-left: 35px;
  margin-bottom: 22px;
  margin-right: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
